<div>

	<div>
	    
	    <label for="user">Usuario</label><br />
	    <input type="text" name="user" id='user' ng-model='model.user' /> <br/>
	    
	    <label for="password">Clave</label><br/>
	    <input type="password" name="password" id='password' ng-model='model.password' /><br/>
	    
	   	<label for="mail">Correo</label><br/>
	    <input type="text" name="mail" id='mail' ng-model='model.mail' /><br/>
	    
	    <button class='btn btn-primary' ng-click='save()'>Crear</button>
	    
	</div>
</div>