<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LCS - Localizador de centros</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css" />
  </head>
  <body ng-app='lcs-admin'>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="/images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo"><strong>Localizador de centros de salud</strong></h1>
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
        <!-- e.g <button><i class="icon icon-star"></i></button> -->
        </section>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LCS</a>
        </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#/doctors/">Doctores</a></li>
              <li><a href="#/hospital/">Hospitales</a></li>
              <li><a href="#/medical_secure/">Seguros Medicos</a></li>
              <li><a href="#/auth/users/">Users</a></li>
            </ul>
          </div>
        </div>
      </nav>
        
    
      <h4>Navigation</h4>
      <ul>
        <li><a href="#/doctors/">Doctores</a></li>
        <li><a href="#/hospital/">Hospitales</a></li>
        <li><a href="#/medical_secure/">Seguros Medicos</a></li>
        <li><a href="#/auth/users/">Users</a></li>
      </ul>
    </nav>

    <section id='map_container' ng-view>
        <h3>interface</h3>
    </section>

    <main>
    </main>

    <!-- build:js scripts/main.min.js -->
    <!-- google web started kit -->
    <script src="/dist/js/script.js"></script>
    <!-- endbuild -->

    <script type="text/javascript" src="/js/vendors/angular.min.js"></script>
    <script type="text/javascript" src='/js/vendors/angular-route.min.js'></script>

    <!-- inject:js -->


    <script src="/js/admin/modules.js"></script>


    <script src="/js/admin/service/Doctor.js"></script>


    <script src="/js/admin/service/Hospital.js"></script>


    <script src="/js/admin/service/MedicalSecure.js"></script>


    <script src="/js/admin/controller/auth_user_controller.js"></script>


    <script src="/js/admin/controller/auth_user_create_controller.js"></script>


    <script src="/js/admin/controller/doctor_controller.js"></script>


    <script src="/js/admin/controller/doctor_create_controller.js"></script>


    <script src="/js/admin/controller/doctor_view_controller.js"></script>


    <script src="/js/admin/controller/home_controller.js"></script>


    <script src="/js/admin/controller/hospital_controller.js"></script>


    <script src="/js/admin/controller/hospital_create_controller.js"></script>


    <script src="/js/admin/controller/hospital_view_controller.js"></script>


    <script src="/js/admin/controller/medical_secure_controller.js"></script>


    <script src="/js/admin/controller/medical_secure_create_controller.js"></script>


    <script src="/js/admin/controller/medical_secure_view_controller.js"></script>


    <script src="/js/admin/admin.js"></script>


    <!-- endinject -->

  </body>
</html>