<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LCS - Localizador de centros</title>

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/admin.css" type="text/css" />
    
  </head>
  <body ng-app='lcs-admin'>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <h1 class="logo"><strong>Localizador de centros de salud</strong></h1>
        <section class="app-bar-actions">
        </section>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer" ng-controller='AdminHomeCtrl' ng-init='load()'>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-class="{ active: active('home')}"><a href="#/" ng-click="setActive('home')">Home</a></li>
              <li ng-class="{ active: active('doctors')}"><a href="#/doctors/" ng-click="setActive('doctors')">Doctores</a></li>
              <li ng-class="{ active: active('hospital')}"><a href="#/hospital/" ng-click="setActive('hospital')">Hospitales</a></li>
              <li ng-class="{ active: active('medical_secure')}"><a href="#/medical_insurance/" ng-click="setActive('medical_secure')">Seguros Medicos</a></li>
              <li ng-class="{ active: active('auth')}"><a href="#/auth/users/" ng-click="setActive('auth')">Users</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </nav>

    <section style='padding:10px;' ng-view>
        <h3>interface</h3>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vendors/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/vendors/angular.min.js"></script>
    <script type="text/javascript" src='/js/vendors/angular-route.min.js'></script>

    <!-- inject:js -->

    <script src="/js/admin/modules.js"></script>

    <script src="/js/admin/service/doctor_service.js"></script>

    <script src="/js/admin/service/hospital_service.js"></script>

    <script src="/js/admin/service/hospital_type_service.js"></script>

    <script src="/js/admin/service/medical_insurance_service.js"></script>

    <script src="/js/admin/service/user_service.js"></script>

    <script src="/js/admin/controller/auth_user_controller.js"></script>

    <script src="/js/admin/controller/auth_user_create_controller.js"></script>

    <script src="/js/admin/controller/auth_user_view_controller.js"></script>

    <script src="/js/admin/controller/doctor_controller.js"></script>

    <script src="/js/admin/controller/doctor_create_controller.js"></script>

    <script src="/js/admin/controller/doctor_view_controller.js"></script>

    <script src="/js/admin/controller/home_controller.js"></script>

    <script src="/js/admin/controller/hospital_controller.js"></script>

    <script src="/js/admin/controller/hospital_create_controller.js"></script>

    <script src="/js/admin/controller/hospital_view_controller.js"></script>

    <script src="/js/admin/controller/medical_insurance_controller.js"></script>

    <script src="/js/admin/controller/medical_insurance_create_controller.js"></script>

    <script src="/js/admin/controller/medical_insurance_view_controller.js"></script>

    <script src="/js/admin/admin.js"></script>

    <!-- endinject -->

  </body>
</html>