<!DOCTYPE html>
<html ng-app='lcs-auth'>
    <head>
        <title>Login - LCS</title>
        
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css" />
        
        <style type="text/css">
            #container{
                padding:20px;
                margin:100px auto;
            }
        </style>
    </head>
    <body>
        <div ng-controller='LoginCtrl'>
        
            <div id='container' class='col-sm-6 col-md-6 col-lg-6'>
                <form onsubmit='return false'>
                
                    <div class="form-group clearfix">
        		    	<div class=''>
                            <input class="form-control" type="text" name="user" placeholder='Usuario' ng-model='model.user'/><br>
                        </div>
                    </div>
                    
                    <div class="form-group clearfix">
                        <div class=''>
                            <input class="form-control" type="password" name="password" placeholder='Clave' ng-model='model.password'/><br>
                        </div>
                    </div>
                    
                    <div class="form-group clearfix">
                        <div class=''>
                            <button ng-click='login()' class='btn btn-primary'>Entrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    <script type="text/javascript" src="/js/vendors/angular.min.js"></script>
    <script type="text/javascript" src='/js/vendors/angular-route.min.js'></script>

    <!-- inject:js -->
    
    <script src="/js/auth/modules.js"></script>
    
    <script src="/js/auth/services/auth_service.js"></script>
    
    <script src="/js/auth/controllers/login_controller.js"></script>
    
    <script src="/js/auth/auth.js"></script>
    
    <!-- endinject -->
    
    </body>

</html>