/*.sidebar{
	width: 30%;
	float: left;
	height: 100%;
	background-color: #4285f4;
}

.home{
	width: 60%;
	margin-left: 32%;
	height: 341px;
}
*/
.clear:befofe{
	clear: both;
	content: " ";
	display: table;
}

.popup{
	position: fixed;
	bottom: 0;
	right: -300px;
	width: 300px;
	height: 250px;
	background-color: white;
}

.popup-show{
	right: 0;
}

.close-icon{
	background: url(../images/icons/close-button.png) no-repeat left top;
	background-size: 100% 100%;
	display: block;
	width: 20px;
	height: 20px;
}

.close-link{
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}

.search-text{
	color: #666;
	margin-top: 15px;
}

.btn{
	color: #666;
	border: none;
}

.btn:hover{
	background-color: white;
}

.quick-search-btn{
	margin-top: 13px;
	margin-left: 5px;
}

.search-results-panel{
	width: 30%;
	height: 100%;
	float: left;
	background-color: #4285f4;
	display: none;
}

.show-search-results-panel{
	display: block;
}


.map-partial-width{
	width: 70%;
	float: right;
}