
/* General */
.transition{
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;
}
.clear:befofe{
	clear: both;
	content: " ";
	display: table;
}
/* end general*/

/*nav */
.nav-element{
	margin-top: 13px;
	margin-left: 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-btn{
	color: #666;
	border: none;
}

.nav-btn:hover{
	background-color: white;
}
/*end nav*/

/*pop up*/
.popup{
	position: fixed;
	bottom: 0;
	right: -300px;
	width: 300px;
	height: 250px;
	background-color: white;
}

.popup-show{
	right: 0;
}

.close-icon{
	background: url(../images/icons/close-button.png) no-repeat left top;
	background-size: 100% 100%;
	display: block;
	width: 20px;
	height: 20px;
}

.close-link{
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}

/*popup end*/

/* search form*/
.search-text{
	color: #666;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	margin-top: 18px;
}
/* search form end*/


/* search results */
.search-results-panel{
	width: 30%;
	height: 100%;
	float: left;
	background-color: #4285f4;
	position: fixed;
	left: -30%;
	top: 190px;
}

.show-search-results-panel{
	left: 0;
}
/* search results end*/

/*map*/
.map-partial-width{
	width: 70%;
	float: right;
}

#map_container{
    height: 100%;
}
/*map end*/

.place-icon{
	float: right;
	width: 50px;
	height: 50px;
	background-color: white;
	margin-left: 10px;
}
@media all and (max-width: 990px){
	.search-results-panel{
		width: 60%;
		left: -60%;
		top: 60px;
	}

	.show-search-results-panel{
		left: 0;
	}
}