<!doctype html>
<html lang=""   ng-app="app.controllers">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LCS - Localizador de centros</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">


    <!-- Page styles -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-overrides.css">
    <link rel="stylesheet" href="/dist/css/style.css">
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body ng-controller="HomeCtrl" ng-init="setup()">
    <div class="sidebar"></div>
    <section class="home clear" style="height:100%">
        <header class="app-bar promote-layer">
          <div class="app-bar-container">
            <button ng-click="changeSearchMode()" class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
            <h1 class="logo"><strong>Localizador de centros de salud</strong></h1>
            <section class="app-bar-actions">
            <!-- Put App app-bar Buttons Here -->
            <!-- e.g <button><i class="icon icon-star"></i></button> -->
            </section>
          </div>
        </header>

        <nav class="navdrawer-container promote-layer">
          <h4>Navigation</h4>
          <ul>
            <li><a href="#item2">Opciones</a></li>
            <li><input type="text" ng-model="searchString" class="search-text transition nav-element" placeholder="Escribe un centro" /></li>
            <li><button class="nav-btn btn transition nav-element" ng-click="search()">Buscar</button></li>
            <li><button class="nav-btn btn quick-search-btn transition nav-element" ng-click="quickSearch()">Buscar hospital más cercano</button></li>
            <li><button class="nav-btn btn transition nav-element" data-toggle="modal" data-target="#myModal" >Búsqueda Avanzada</button></li>
          </ul>
        </nav>

        <section id='map_container' ng-click="disableSearchMode()" ng-class="setMapWidth()">
            <div id="map_canvas" style="height:100%"></div>
        </section>
        <article class="search-results-panel transition" ng-class="showResultsBar()">
             <div class="hospital-" ng-repeat="marker in markers | orderBy : 'title'">
                 <a href="#" ng-click="showMarkerRoute($event, marker)">{{marker.title}}</a>
                 <figure class="place-icon"></figure>
             </div>
        </article>
    </section>
    <aside class="popup transition" ng-class="viewPopUp()" >
        <a class="close-link" ng-click="closePopUp()"><span class="close-icon"></span></a>
        <h2>{{popup.title}}</h2>
        <p>{{popup.content}}</p>
        <p>{{popup.distance + ' en ' + popup.duration}}</p>
    </aside>
    <section class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Búsqueda Avanzada</h4>
          </div>
          <div class="modal-body">
            <article class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Transporte</label>
                    <div class="col-sm-9">
                      <select>
                        <option ng-repeat="travelMode in travelModes">{{travelMode}}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Tipo de Centro</label>
                    <div class="col-sm-9">
                      <select>
                        <option ng-repeat="centerType in centerTypes">{{centerType}}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Seguro Médico</label>
                    <div class="col-sm-9">
                      <select>
                        <option ng-repeat="insurance in insurances">{{insurance}}</option>
                      </select>
                    </div>
                </div>

            </article>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="advancedSearch()">Buscar</button>
          </div>
        </div>
      </div>
    </section>

        
    <main></main>

    <!-- build:js scripts/main.min.js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/vendors/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vendors/angular.js"></script>
    <script type="text/javascript" src="/js/vendors/angular-route.min.js"></script>
    
    <script type="text/javascript" src="/js/home/modules.js"></script>
    
    <script type="text/javascript" src="/js/home/service/mock_hospital_service.js"></script>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/js/home/controller/home_controller.js"></script>
    <script type="text/javascript" src="/js/home/home.js"></script>

    <!-- <script type="text/javascript" src="/dist/js/script.js"></script> -->
    <!-- endbuild -->
  </body>
</html> 
