<!doctype html>
<html lang=""   ng-app="app.controllers">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LCS - Localizador de centros</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Page styles -->
    <link rel="stylesheet" href="/dist/css/style.css">
    <link rel="stylesheet" href="/dist/css/site.css">
    <style type="text/css">
        #map_container{
            height: 100%;
        }
    </style>
  </head>
  <body ng-controller="home">
    <div class="sidebar"></div>
    <section class="home clear">
        <header class="app-bar promote-layer">
          <div class="app-bar-container">
            <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
            <h1 class="logo"><strong>Localizador de centros de salud</strong></h1>
            <section class="app-bar-actions">
            <!-- Put App Bar Buttons Here -->
            <!-- e.g <button><i class="icon icon-star"></i></button> -->
            </section>
          </div>
        </header>

        <nav class="navdrawer-container promote-layer">
          <h4>Navigation</h4>
          <ul>
            <li><a href="#item">Crap</a></li>
            <li><a href="#item2">Option</a></li>
          </ul>
        </nav>
        <section id='map_container' ng-view>
            <div id="map_canvas" style="height:100%"></div>
        </section>
        <article></article>
        <main></main>
    </section>

    <!-- build:js scripts/main.min.js -->
    <script type="text/javascript" src="js/vendors/angular.js"></script>
    <script type="text/javascript" src="js/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="js/admin/service/hospital.js"></script>
    <script type="text/javascript" src="js/admin/controller/home_controller.js"></script>
    <script type="text/javascript" src="/dist/js/script.js"></script>
    <!-- endbuild -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
        window.onload = function(){

            var map = null;

            var mapOptions = {
                center: new google.maps.LatLng(-34.397, 150.644),
                zoom: 8,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
        }
    </script>

  </body>
</html> 