<!DOCTYPE html> <html lang="en" class="full-height" ng-app="app.controllers">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    
 <meta name="author" content="Kimera">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">


    <title>LCS</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
        
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-responsive.css">
    <link rel="stylesheet" href="/css/icheck-square/square-theme.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/map-icons.css">
    <link rel="stylesheet" href="/css/switchery.css">
    <link rel="stylesheet" href="/css/switch.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="full-height" ng-controller="HomeCtrl">

  <section id="container" class="full-height" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Mostrar/Ocultar resultados de búsqueda"></div>
              </div>
              <div simple></div>
            <!--logo start-->
            <a href="#" class="logo"><b>LCS</b></a>
            <!--logo end-->
            <div class="col-lg-3"></div>
            <div class="top-menu pull-left mt">
              <ul class="nav top-menu">
                    
                    <!-- seguros start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          SEGUROS
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                      <label><input type="checkbox" i-check  ng-change="updateSelectAllInsurances" ng-model="insuranceFilter.isDisabled" />&nbsp;TODOS</label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-repeat="insurance in mainInsurances">
                                    <div class="task-info">
                                      <label><input type="checkbox" ng-model="insurance.isSelected" i-check ng-change="updateInsuranceSelection" />&nbsp;{{insurance.name}}</label>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">OTRO</a>
                            </li>
                        </ul>
                    </li>
                    <!-- seguros end -->                    
                    <!-- institution type start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          INSTITUCIÓN
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                      <label><input type="checkbox" i-check  ng-change="updateSelectAllHospitalTypes" ng-model="hospitalTypeFilter.isDisabled"  />&nbsp;TODOS</label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-repeat="type in hospitalTypes">
                                    <div class="task-info">
                                      <label><input type="checkbox" ng-model="type.isSelected" i-check ng-change="updateHospitalTypeSelection" />&nbsp;{{type.name}}</label>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- institution type end -->
                    <li><a class="location-control" href="#">
                        <label class="switch"><input class="location-switch" ng-model="locationFilter.isSelected" type="checkbox" checked><i></i></label>
                      <span class="fa fa-map-marker enable-location"></span>
                      <span class="fa-stack disable-location">
                        <i class="fa fa-map-marker fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x"></i>
                      </span>

                    </a></li>
                    <li><a class="transportation-control" href="#">
                        <label class="switch"><input class="transportation-switch" ng-change="travelModeChanged()" ng-model="drivingEnabled" type="checkbox" checked><i></i></label>
                      <span class="tr-foot"></span>
                      <span class="tr-driving"></span>
                    </a></li>


                    <li><a class="transportation-control" href="#">
                    </a></li>

              </ul>
            </div>
            
            <!-- search bar start -->
            <button class="pull-right btn btn-search btn-primary mt" ng-click="search()">Buscar</button>            
            <div class="col-lg-2 transition-ease-io pull-right">
                <input type="text" class="form-control search-bar" placeholder="Buscar" ng-enter="search()"/>
            </div>
            <!-- search bar end -->

        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse transition-linear" ng-class="showResultsBar()">
              <!-- sidebar menu start-->


              <ul class="sidebar-menu" id="nav-accordion">
                    
             <!-- hospital sample -->
             <div class="col-lg-12 mb transition hospital" ng-class="{ 'hospital-selected' : marker.selected }" ng-repeat="marker in markers | orderBy : 'title'" ng-click="showMarkerRoute($event, marker)">
              <div class="content-panel pn" id="{{marker.id}}">
                <div id="blog-bg">
                  <div class="hospital-distance">
                    <p><strong>Distancia: </strong> {{marker.distance}} en {{marker.duration}} ({{getTravelModeDescription()}})</p>
                  </div>
                  <div class="badge-rounded" ng-class="getHospitalTypeIcon(marker)"></div>
                  <div class="blog-title">{{marker.name}}</div>
                </div>
                <div class="blog-text">

                           <p><strong>Dirección:</strong>{{marker.address}}</p>
                           <div class="hospital-details hidden" ng-class="{ 'visible' : marker.selected }">
                              <p><strong>Teléfono:</strong>: 555 555 5555</p>
                              <p><strong>Mail</strong>: 888 888 8888 </p>
                              <p><strong>Tipo de Centro: </strong> {{ marker.hospital_type_name }} </p>
                              <p><strong>Seguros: </p>
                           </div>          
                </div>
              </div>
            </div>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content" class="full-height">
          <section class="wrapper full-height">
            
      
                <article id='map_container' class="full-height"  ng-class="setMapWidth()" ng-init="setup()">
                    <div id="map_canvas" style="height:100%"></div>
                </article>
                
          </section><!--/wrapper -->
      
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Localizador de Centros de Salud
              <a href="blank.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>
      
    <!-- JQuery + Plugins -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/vendors/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/js/vendors/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/vendors/bootstrap/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/js/vendors/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/js/vendors/jquery.scrollTo.min.js"></script>
    <script src="/js/vendors/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/js/vendors/icheck.js"></script>
    <script src="/js/vendors/switchery.js"></script>
    <script src="/js/common-scripts.js"></script>


    <!--common script for all pages-->

    <!--script for this page-->
    
    <!-- map scripts -->
    <script src="/js/vendors/shift-worker-map-style.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script src="/js/vendors/map-icons.js"></script>
  
    <!-- angular scripts -->
    <script type="text/javascript" src="/js/vendors/angular.js"></script>
    <script type="text/javascript" src="/js/vendors/angular-route.min.js"></script>
    
    <script type="text/javascript" src="/js/home/modules.js"></script>
    
    <script type="text/javascript" src="/js/directives/icheck.js"></script>
    <script type="text/javascript" src="/js/directives/simple-directive.js"></script>
    <script type="text/javascript" src="/js/admin/service/hospital_service.js"></script>
    <script type="text/javascript" src="/js/home/service/home_hospital_service.js"></script>
    <script type="text/javascript" src="/js/home/controller/home_controller.js"></script>
    <script type="text/javascript" src="/js/home/home.js"></script>    
  </body>
</html>
