<div ng-init='load()'>
	<h4>create hospital</h4>

	<form>

		<div class="form-group clearfix">
	    	<div class='col-md-3 col-lg-4'>
				<label for='name'>Nombre</label>
				<input type='text' class="form-control" ng-model='model.name' id='name' placeholder='Nombre' required>
			</div>
		</div>
		
		<div class="form-group clearfix">
	    	<div class='col-md-3 col-lg-4'>
				<label for='details'>Detalles</label>
				<textarea type='text' class="form-control" ng-model='model.details' id='details' placeholder='Detalles' required></textarea>
			</div>
		</div>
		
		<div class="form-group clearfix">
	    	<div class='col-md-3 col-lg-4'>
				<label for='hospital_phone'>Telefono</label>
				<input name="hospital_phone" class="form-control" placeholder="(809) 555 5555" ng-model='model.local_phone' id="hospital_phone"/>
			</div>
		</div>

		<div class="form-group clearfix">
	    	<div class='col-md-3 col-lg-4'>
				<label for='address'>Direccion</label><br />
				<input type='text' class="form-control" id='address' ng-model='model.address' placeholder='Direccion' required>
			</div>
		</div>
		
		<div class="form-group clearfix">
	    	<div class='col-md-3 col-lg-4'>
				<label for='hospital_type'>Tipo de Hospital</label>
				<select name="hospital_type" ng-model='model.hospital_type' id="hospital_type">
					<option ng-repeat='item in hospitalsTypes' value='{{item.id}}'>{{ item.details }}</option>
				</select>
			</div>
		</div>
		
		<div class="form-group clearfix">
	    	<div class='col-md-3 col-lg-4'>
	    	
				<fieldset>
					<legend>Locacion</legend>
		
						<div class="form-group clearfix">
							<div class='col-md-3 col-lg-4'>
								<label for='latitude'>Latitude</label>
								<input type='text' class="form-control" id='latitude' ng-model='model.location.latitude' placeholder='45.67' required>
							</div>
						</div>
						
						<div class="form-group clearfix">
							<div class='col-md-3 col-lg-4'>
								<label for='longitude'>Longitude</label>
								<input type='text' class="form-control" id='longitude' ng-model='model.location.longitude' placeholder='23.45' required>
							</div>
						</div>
						
				</fieldset>
			</div>
		</div>

		<div class="form-group clearfix">
			<div class='col-md-3 col-lg-4'>	
				<button class='btn btn-primary' ng-click='save()'>Guardar</button>
			</div>
		</div>

	</form>
</div>