<style type="text/css">
	.item_medical{
		margin:10px;
		width:40%;
		display:inline-block;
	}
</style>
<div>
	
	<div class="alert alert-success" role="alert" ng-if='error.show'>
		
		<button type="button" class="close" ng-click="error.hideMessage()">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		
		<strong>Warning!</strong> <span>{{ error.message }}</span>
	</div>
	
	<div ng-init='load()'>
		<div>
			<p>
				<b>Nombre:</b> <span>{{ data.name }} </span>
			</p>
			
			<p>
				<b>Detalles:</b> <span>{{ data.details }}</span>
			</p>
	
			<p>
				<b>Direccion:</b> <span>{{ data.address }}</span>
			</p>
		</div>

		<div style='padding:2%'>
			<h4>Seguros medicos</h4>
			<table class='table'>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Detalles</th>
						<th></th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat='item in data.secures'>
						<td> <a href="#/medical_secure/view/{{ item.id }}">{{ item.name }}</a> </td>
						<td> {{ item.details }} </td>
						<td> 
							<button class='btn btn-danger' ng-click='removeRelation(item.id)'>Desvincular</button> 
						</td>
					</tr>	
				</tbody>
				
			</table>
			
			<div>
				<button ng-click='loadMedicalInsurance()' class='btn  btn-primary' data-toggle="modal" data-target="#medical_ensurance" class='btn btn-primary'>Agregar</button>
			</div>
		</div>
		
				
		<div style='padding:2%'>
			<h4>Doctores</h4>
			<table class='table'>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Detalle</th>
						<th></th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat='item in data.doctors'>
						<td> <a href="#/doctors/view/{{ item.id }}">{{ item.name }}</a> </td>
						<td> <a href="#/doctors/view/{{ item.id }}">{{ item.last }}</a> </td>
						
						<td> {{ item.details }} </td>
						
						<td> 
							<button class='btn btn-danger' ng-click='removeRelationDoctor(item.id)'>Desvincular</button> 
						</td>
					</tr>	
				</tbody>
				
			</table>
			
			<div>
				<button ng-click='loadDoctors()' class='btn  btn-primary' data-toggle="modal" data-target="#doctors" class='btn btn-primary'>Agregar</button>
			</div>
		</div>

		<div>
			<button ng-click='delete(data.id)' class='btn  btn-danger'>Eliminar</button>
		</div>
	</div>
	
	<!-- Add medical ensurance -->
	<div class="modal fade" id="medical_ensurance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Seguros medicos</h4>
	      </div>
	      <div class="modal-body">
	        <div ng-repeat='item in medicalEnsurance' class='item_medical'>
	        	{{ item.name }} <a class='btn btn-primary btn-sm' ng-click='addMedicalInsurance(item.id)'>Agregar</a>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='reload()'>Cerrar</button>
	        <!--<button type="button" class="btn btn-primary">Guardar</button>-->
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Add Doctor -->
	<div class="modal fade" id="doctors" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Doctores</h4>
	      </div>
	      <div class="modal-body">
	        <div ng-repeat='item in doctors' class='item_medical'>
	        	{{ item.name }} <a class='btn btn-primary btn-sm' ng-click='addDoctor(item.id)'>Agregar</a>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='reloadDoctors()'>Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>